*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#F8F8F8;
    padding:30px;
}

h1{
    color:#7B4B2A;
    margin-bottom:25px;
}

.topo input{
    width:100%;
    padding:15px;
    border:1px solid #DDD;
    border-radius:10px;
    margin-bottom:20px;
}

.formulario{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    margin-bottom:30px;
}

.formulario input{
    flex:1;
    min-width:200px;
    padding:15px;
    border:1px solid #DDD;
    border-radius:10px;
}

button{
    padding:15px;
    border:none;
    border-radius:10px;
    background:#7B4B2A;
    color:white;
    cursor:pointer;
}

.musica{
    background:white;
    padding:20px;
    border-radius:15px;
    margin-bottom:15px;
    box-shadow:0 0 10px rgba(0,0,0,.08);
}

.musica h3{
    color:#7B4B2A;
    margin-bottom:5px;
}

.acoes{
    margin-top:15px;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

.acoes button{
    padding:10px;
}