*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#F8F8F8;
    padding:30px;
}

.container{
    max-width:900px;
    margin:auto;
}

h1{
    color:#7B4B2A;
    margin-bottom:15px;
}

p{
    color:#666;
    margin-bottom:20px;
}

textarea{
    width:100%;
    min-height:180px;
    padding:20px;
    border-radius:15px;
    border:1px solid #DDD;
    resize:none;
    margin-bottom:20px;
    font-size:16px;
}

button{
    padding:15px 25px;
    border:none;
    border-radius:10px;
    background:#7B4B2A;
    color:white;
    cursor:pointer;
    margin-bottom:30px;
}

#resultado{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,0,.08);
}

#resultado h2{
    color:#7B4B2A;
    margin-bottom:20px;
}

.item{
    padding:20px;
    border-bottom:1px solid #EEE;
}

.item:last-child{
    border-bottom:none;
}

.item h3{
    color:#7B4B2A;
    margin-bottom:5px;
}

.porcentagem{
    font-weight:bold;
    margin-top:10px;
}